@import url(https://db.onlinewebfonts.com/c/793a2072094db79606185e94f71ba14b?family=Striker);
@import url(https://db.onlinewebfonts.com/c/12420e8c141ca7c3dff41de2d59df13e?family=Beaufort+for+LOL+Bold);
@import url(https://images7.alphacoders.com/117/1174016.png);
@import url(https://www.wallpaperflare.com/counter-strike-counter-strike-global-offensive-game-cg-games-art-wallpaper-caomu);
@import url(https://videogames.si.com/guides/league-of-legends-season-2023-summary);
@import url(https://www.wallpaperflare.com/soraka-league-of-legends-riot-games-support-league-of-legends-wallpaper-grazv/download/1920x1080);
@import url('https://fonts.googleapis.com/css?family=Lato:100&display=swap');

body {
    display: block;
    background-image: url(./imagens/sorakas_background.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    flex-direction: column;
}

.fundo_da_pagina {
    display: block;
    background-size: cover;
    background-position: center;
}

.titulo_da_pagina {
    display: flex;
    justify-content: center;
    font-family: "Beaufort for LOL Bold";
    font-weight: 600;
    font-size: 150px;
    color: #C89B3C;
    text-shadow: rgba(10, 200, 185, 100) 2px 4px 4px;
}

.cabecalho_opcoes {
    display: flex;
    justify-content: center;
    align-items: center;
}

.lista_de_opcoes {
    display: flex;
    margin-top: 1.5em;
    justify-content: center;
    width: 100%;
    max-width: 1200px;
    gap: 5em;
    cursor: pointer;
    outline: inherit;
}

.botao_lol {
    border: none;
    background: transparent;
    font-family: "Beaufort for LOL Bold";
    font-weight: 700;
    font-size: 70px;
    color: #C89B3C;
    text-shadow: rgba(10, 200, 185, 100) 2px 2px 4px;
}

.botao_aram {
    background: transparent;
    border: none;
    font-family: "Beaufort for LOL Bold";
    font-weight: 700;
    font-size: 70px;
    color: rgb(10, 200, 185);
    text-shadow: rgba(200, 170, 110, 50) 0px 4px 4px;
}

.botao_cs {
    font-family: "Striker";
    background: transparent;
    border: none;
    font-weight: 700;
    font-size: 51px;
    text-shadow: rgba(0, 0, 0, 50) 0px 4px 4px;
    color: rgb(27, 27, 27);
}

.estilo_do_go {
    color: rgb(200, 155, 60);
    text-shadow: rgba(0, 0, 0, 50) 0px 4px 4px;
}

.card_nome_jogadores {
    display: flex;
    flex-direction: column;
    margin: 1em auto;
    width: 60%;
    gap: 1em;
}

.titulo_nome {
    font-family: "Beaufort for LOL Bold";
    color: white;
    font-size: 50px;
    font-weight: 700;
    text-shadow: rgba(0, 0, 0, 50) 0px 4px 4px;
    margin: 0.1em auto;
}

.box__nome {
    background: white;
    font-family: "Beaufort for LOL Bold";
    border-radius: 8px;
    border: none;
    height: 3.2em;
    box-shadow: rgba(0, 0, 0, 50) 0px 4px 4px;
}

.container {
    width: 100%;
    height: 100%;
    /* position: absolute;
    left: 50%;
    top: 46%; */
    /* transform: translate(-50%, -50%); */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
.center {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    /* position: absolute; */
  }
  
.btn {
    font-family: "Beaufort for LOL Bold"; 
    color: white;
    font-size: 1.2em;
    width: 180px;
    height: 60px;
    cursor: pointer;
    background: transparent;
    border: 1px solid #91C9FF;
    outline: none;
    transition: 1s ease-in-out;
    border-radius: 16px;
  }
  
  svg {
    position: absolute;
    left: 0;
    top: 0;
    fill: none;
    stroke: #fff;
    stroke-dasharray: 150 480;
    stroke-dashoffset: 150;
    transition: 1s ease-in-out;
  }
  
.btn:hover {
    transition: 1s ease-in-out;
    background: #4F95DA;
  }
  
.btn:hover svg {
    stroke-dashoffset: -480;
  }

.subtituloColunaTimeV {
    color: #ee4a4a;
    padding-right: 6.4em;
    font-size: 30px;
    font-family: "Beaufort for LOL Bold"; 
    text-shadow: rgba(0, 0, 0, 50) 5px 2px 3px;
}

.subtituloColunaTimeA {
    color: #4F95DA;
    font-size: 30px;
    font-family: "Beaufort for LOL Bold"; 
    text-shadow: rgba(0, 0, 0, 50) 5px 2px 3px;
}

.colunas {
    display: flex;
    width: 100%;
    gap: 24em;
    justify-content: center;
    margin-top: 1em;
}

.timeANomesSorteados {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 2em;
}

.timeBNomesSorteados {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.nomesSorteados {
    border-color: rgb(255, 209, 2);
    width: 100%;
    font-family: "Beaufort for LOL Bold";
    font-weight: 600;
    font-size: 30px;
    text-shadow: rgba(0, 0, 0, 60) 0px 2px 2px;
    color: rgb(18, 140, 211);
    text-align: center;
    display: flex;
    justify-content: center;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 50) 5px 2px 10px;
    filter: blur(7px);
}